:root {
  /* golden ratio */
  --g-ratio-p: 1.618;
  --g-ratio-n: 0.618;

  --size-1: 1rem;
  --size-1-s: calc(var(--size-1) * var(--g-ratio-n));

  --gray: #D3D3D3; /* color: LightGray */

  --border: solid 1px var(--gray);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: var(--g-ratio-p);
}

input[type=radio] {
  margin: 0 var(--size-1) 0 0;
}

input[type=number], select {
  height: 2rem;
  padding: 0 var(--size-1-s);
  border: var(--border);
  margin-left: var(--size-1);
}

input[type=number]:focus-visible, select:focus-visible {
  outline: solid 2px var(--gray);
}

p {
  margin: 0;
}

.border-bottom {
  border-bottom: var(--border);
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.margin-right-1 {
  margin-right: var(--size-1);
}

.padding {
  padding: var(--size-1);
}

.text-before-list {
  margin: 0 0 var(--size-1) 0;
}
